$screen-size-mobile: '480px';
$screen-size-tablet: '768px';
$screen-size-small-desktop: '1280px';
$screen-size-desktop: '1440px';

@mixin respond-to($media) {
  @if $media == mobile {
    @media (min-width: $screen-size-mobile) { @content; }
  } @else if $media == tablet {
    @media (min-width: $screen-size-tablet) { @content; }
  } @else if $media == small-desktop {
    @media (min-width: $screen-size-small-desktop) { @content; }
  } @else if $media == desktop {
    @media (min-width: $screen-size-desktop) { @content; }
  }
}
