// font colors:
$font-color-default: #FFF;
$font-color-secondary: #8192AF;
$font-color-dark: #444;
$font-color-dull: #C8CFDA;

// background-colors:
$background-color-default: #011C42;
$background-color-secondary: #112E57;

// navbar:
$header-color-left: #1AA0D8;
$header-color-right: #1073B6;

// accents/misc:
$accent-color: #4BA661; // bright green
$gray-highlight: #2e476b;
$link-color: #009DDA; // bright blue
$form-accent: #2E476B; // greyish-blue

// notifications:
$error-color-background: #D67C7B;
$error-color-health: #DC4A39;
$warning-color-health: #F9D57D;
